<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Gerar arquivo encriptado</h3>
    <form name="form_encriptar" action="/file_generate" method="POST">
      <label>Chave:</label>
      <input type="number" name="chave">
      <br>
      <label>Frase:</label>
      <textarea name="frase"></textarea>
      <button type="submit">Gerar arquivo</button>
    </form>
    <h3>Decriptar arquivo</h3>
    <form action="/file_upload" method="post" enctype="multipart/form-data">
      <input type="file" name="filetoupload"><br>
      <input type="submit">
    </form>
  </body>
</html>
