<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form name="form_encriptar" action="/file_generate" method="POST">
      <label>Chave:</label>
      <input type="number" name="chave">
      <br>
      <label>Frase:</label>
      <textarea name="frase"></textarea>
      <button type="submit">Gerar arquivo</button>
    </form>
  </body>
</html>
